{% extends 'base.html.twig' %}

{% block body %}
	<div class="container mt-5">
		<h1>Admin Panel</h1>


		<div id="notifications" class="mb-3"></div>

		{% for flash_message in app.session.flashbag.get('success') %}
			<div class="alert alert-success"> 
				{{ flash_message }}
			</div>
		{% endfor %}

		<h2>Manage Users</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Username</th>
					<th>Email</th>
					<th>Role</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.login }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.role }}</td>
						<td>
							<form action="{{ path('admin_change_role', {'id': user.id}) }}" method="post">
								<select name="role" class="form-select">
									<option value="ROLE_USER" {% if 'ROLE_USER' in user.role %} selected {% endif %}>User</option>
									<option value="ROLE_EDITOR" {% if 'ROLE_EDITOR' in user.role %} selected {% endif %}>Editor</option>
									<option value="ROLE_ADMIN" {% if 'ROLE_ADMIN' in user.role %} selected {% endif %}>Admin</option>
								</select>
								<button type="submit" class="btn btn-dark mt-1">Change Role</button>
							</form>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">No users found.</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<script src="{{ asset('js/admin.js') }}"></script>

	</div>
{% endblock %}
