{% extends 'base.html.twig' %}

{% block body %}
	<div class="container mt-5">

		<div class="btn-group mb-3 " role="group" aria-label="Sort Options">
			<a href="{{ path('post_list', { sort: 'latest', page: 1 }) }}" class="btn btn-dark mt-2 me-2 {% if sort == 'latest' %}active{% endif %}">Latest</a>
			<a href="{{ path('post_list', { sort: 'popular', page: 1 }) }}" class="btn btn-dark mt-2  {% if sort == 'popular' %}active{% endif %}">Popular</a>
		</div>

		<div id="posts">
			{% include 'post/_posts.html.twig' %}
		</div>

		<nav aria-label="Page navigation">
			<ul class="pagination">
				{% if current_page > 1 %}
					<li class="page-item">
						<a class="btn btn-dark me-2" href="{{ path('post_list', { page: current_page - 1, sort: sort }) }}" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
				{% endif %}

				{% for page in 1..total_pages %}
					<li class="page-item {% if page == current_page %}active{% endif %}">
						<a class="btn btn-dark me-2" href="{{ path('post_list', { page: page, sort: sort }) }}">{{ page }}</a>
					</li>
				{% endfor %}

				{% if current_page < total_pages %}
					<li class="page-item">
						<a class="btn btn-dark me-2" href="{{ path('post_list', { page: current_page + 1, sort: sort }) }}" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				{% endif %}
			</ul>
		</nav>

		{% if current_page < total_pages %}
			<button id="loadMore" data-page="{{ current_page + 1 }}" data-sort="{{ sort }}" class="btn btn-dark">Load More</button>
		{% endif %}
	</div>
	<script src="{{ asset('js/loadmore.js') }}"></script>
{% endblock %}